<div class="row">
  <div class="bs-component">
    <h4>{{pageTitle}}</h4>
  </div>
  <div class="bs-component table-responsive" style="font-size: 13px;">
    <table class='table table-hover table-striped' *ngIf='userAccounts && userAccounts.length'>
      <thead>
        <tr>
          <th>Id</th>
          <th>Email Address</th>
          <th>Name</th>
          <th>Date Created</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let user of userAccounts'>
          <td>{{user.userAccountId}}</td>
          <td>{{user.emailAddress}}</td>
          <td>{{user.firstName}}&nbsp;{{user.lastName}}</td>
          <td>{{user.dateCreated}}</td>
          <td>
            <a [routerLink]="['/home/product', user.userAccountId]"><span class="glyphicon glyphicon-edit"></span></a>
            <!--<a href="javascript:void(0);" (click)="deleteProduct(user.userAccountId)">-->
              <span class="glyphicon glyphicon-remove"></span>
              <!--</a>-->
          </td>

        </tr>

      </tbody>
    </table>
  </div>
</div>
