<div class="row">
  <div class="bs-component">
    <h4>{{pageTitle}}</h4>
  </div>
  <div class="bs-component table-responsive" style="font-size: 13px;">
    <table class='table table-hover table-striped' *ngIf='products && products.length'>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Description</th>
          <th>Date Created</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let product of products'>
          <td>{{product.productId}}</td>
          <td>{{product.name}}</td>
          <td>{{product.description | ellipsis:50}}</td>
          <td>{{product.dateCreated}}</td>
          <td>
            <a [routerLink]="['/home/product', product.productId]"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="javascript:void(0);" (click)="deleteProduct(product.productId)"><span class="glyphicon glyphicon-remove"></span></a>
          </td>

        </tr>

      </tbody>
    </table>
  </div>
</div>
