    <div class="row">
        <div class="list-group table-of-contents">
          <a class="list-group-item"  [routerLink]="['/home']">Home</a>
          <a class="list-group-item"  [routerLink]="['/home/product']">Products</a>
          <a class="list-group-item" [routerLink]="['/home/data-types']">Data Types</a>
          <a class="list-group-item" href="home#customers">Customers</a>
          <a class="list-group-item" href="home#orderRequests">Order Requests</a>
          <a class="list-group-item" href="home#store">Store</a>
          <a class="list-group-item" href="home#tempCustomers">Temp Customers</a>
          <a class="list-group-item" [routerLink]="['/home/user-account']">User Accounts</a>
          
      </div>
    </div>